@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;800&display=swap');

@import "tailwindcss";

@keyframes hit {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.animate-hit {
  animation: hit 0.3s ease-in-out;
   box-shadow: 0 0 30px rgba(255,0,0,0.8);
}